body{
    background-color: #d6d7da;
    font-family: 'Rubik', sans-serif;
}

img{
    border-radius: 15px;

}
.contenedorGral{
    margin: 40px;   
}

.contenedor{
    display: flex;
    justify-content: center;
}

.caja1{
    background-color: white;
    border-radius: 15px 0 0 15px;
}

.caja2{
    
    background-color:  #f6f6f8;
    border-radius: 0 15px 15px 0;
}

.contenidoCaja1, .contenidoCaja2{
    margin: 30px;
    font-weight: bold;
}

.contenidoCaja1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contenidoCaja1 img{
    width: 350px;
}

.display{
    text-align: center;
}

.temp, .desc{
    color: dimgrey; 
    font-size: 30px;
}
.tituloPrimero{
    display: flex;
    justify-content: space-between;
}

.tituloPrimero div{
    display: flex;

}

.tituloPrimero div p, .tituloSegundo{
    margin-left: 25px;
}

.contenedorDias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
/*  border: solid;*/
}

.contenedorDias div{
    background-color: white;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}


.contenedorDatos{
/*  border: solid;
    border-color: red;*/
}

.contenedorDatos .fila{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
/*  border: solid;
    border-color: blue;*/
}

.contenedorDatos .fila div{
    width: 230px;
    margin: 15px;
    padding-top: 15px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
/*  border: solid;
    border-color: brown;*/
}

.contenedorDatos div img{
    width: 100px;
    height: 100px;
}

.viento, .pais, .humedad, .presion,.visibilidad,.sensacionTermica{
    font-size: 1rem;
    font-weight: bold;
}

.icon img{
    width: 150px;
    height: 150px;
}


 @media screen and (max-width: 1300px){

        .contenedor{
        flex-direction: column;
        
    }

        .caja1{
        border-radius: 15px 15px 0 0;
    }

    .caja2{
        border-radius: 0 0 15px 15px;
    }

    .contenidoCaja1 .ciudad{
    width: 80%;
    margin-left: 10%;
    }

}