body{
    background-color: #d6d7da;
    font-family: 'Rubik', sans-serif;
}

img{
    border-radius: 15px;

}
.contenedorGral{
    margin: 40px;
    
    
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.caja1{
    flex: 300px;
    background-color: white;
    border-radius: 15px 0 0 15px;
}

.caja2{
    flex: 700px;
    background-color:  #f6f6f8;
    border-radius: 0 15px 15px 0;
}

.contenidoCaja2, .contenidoCaja1{
    margin: 30px;
}


.tituloPrimero, .tituloSegundo, .contenedorDias, .contenedorDatos{
/* border: solid;*/
}

.tituloPrimero{
    display: flex;
    justify-content: space-between;
}

.tituloPrimero div{
    display: flex;

}

.tituloPrimero div p, .tituloSegundo{
    margin-left: 25px;
}

.contenedorDias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.contenedorDias div{
    width: 12%;
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    border-radius: 10px;
}


.contenedorDatos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.contenedorDatos div{
    width: 30%;
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    border-radius: 10px;
}